* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    width: 100%;
    padding-left: 15px;
}

h1 {
    margin: 0;
}

header img {
    max-width: 100px;
}

.main-nav {
    font-size: 18px;
    padding-top: 30px;
    padding-right: 30px;
}

.headline {
    margin-top: 30px;
    text-align: center;
}

.hero-img {
    height: 200px;
    margin-bottom: 20px;
}

  .hero-img img {
    height: 100%
}

.js-thumbnail {
    display: inline-block;
    cursor: pointer;
    height: 60px;
}

.js-thumbnail img {
    max-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.copyright {
    margin-top: 10px;
}

.footer-nav{
    text-align: center;
    margin-top: 10px;
}